.icon_text {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.lang_icon {
    width: 2rem;
    height: 2rem;
}

.variant {
    width: 3rem;
    height: 2rem; 
}

.lang_name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--darkGrey)
}