@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.countDownbody {
  background: radial-gradient(#ffffff, #707a96);
  min-height: 80vh;
  max-width: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  margin: 2rem auto;
  border-radius: 16px;
  padding: 2rem;
}

#countDowncontent {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 16px;
  height: 20rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

h1 {
  font-family: 'Handjet', monospace;
  text-align: center;
  text-transform: uppercase;
  color: #e4e7eb;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  font-size: 3.5rem;
  margin: 0;
}

h1 em {
  font-style: normal;
  color: #73719c;
}

header p {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  color: #e4e7eb;
}

#countDownPlayer {
  text-align: center;
}

#countDownPlayer h2 {
  color: #73719c;
}

#countDownPlayer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#countDownPlayer input {
  font: inherit;
  border: 1px solid #a4a8cc;
  background-color: #e4e7eb;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.25rem;
  color: #73719c;
}

#countDownPlayer button {
  cursor: pointer;
  background-color: #a4a8cc;
  border: 3px solid #a4a8cc;
  padding: 0.4rem 1rem;
  color: #e4e7eb;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

#countDownPlayer button:hover {
  background-color: #627cb3;
  border-color: #627cb3;
}

#countDownChallenges {
  max-width: 50rem;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.countDownChallenge {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem auto;
  background: linear-gradient(#e4e7eb, #afb9c7, #697c9e);
  color: #221c18;
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  border-radius: 6px;
}

.countDownChallenge button {
  font-family: 'Handjet', monospace;
  font-size: 1.5rem;
  font-weight:600;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #d1d2dc;
  color: #000000; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.countDownChallenge button:hover {
  background: #ffffff;
}

.countDownChallenge h2 {
  font-family: 'Handjet', monospace;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #221c18;
}

.countDownChallenge-time {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  margin-bottom: 2rem;
}

.countDownChallenge .active {
  animation: flash 1s infinite;
}

.countDownResult-modal {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: #d7fcf8;
}

.countDownResult-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.countDownResult-modal::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

.countDownResult-modal h2 {
  font-family: 'Handjet', monospace;
  margin: 0 0 0.25rem 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.countDownResult-modal progress {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  accent-color: #627cb3;
}

.countDownResult-modal p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.countDownResult-modal p strong {
  color: #10655b;
}

.countDownResult-modal form {
  text-align: right;
}

.countDownResult-modal button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #12352f;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}

.countDownResult-modal button:hover {
  background: #051715;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}