.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 5rem;
}

.content {
    display: flex;
    flex-direction: row;
}

.content>span {
    margin: 40px;
    font-size:large;
    font-weight:bold;
    color: var(--darkGrey);
}

.content>span>li {
    list-style: none;
    font-size:small;
    font-weight:normal;
}





@media screen and (max-width: 768px) {

    .skills > div {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

}