.projects {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}

.header{
    display:flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gray);
    text-overflow: inherit;
    margin-bottom: 1rem;
}

.project_card {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gray);
}

.text {
    display:flex;
    flex-direction: column;
}

.project_title{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark);
    text-overflow: inherit;
    margin-bottom: 1rem;
}

.project_description {
    font-size: 1rem;
}

.project_icons{
    display:flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.project_img{
    width: 50%;
}

.project_img>div {
    display:flex;
    margin-left: 1rem;
}