.skills {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.header{
    display:flex;
}

.content{
    display:flex;
    flex-direction: row;
}

.content>span {
    margin: 40px;
}

.content>span>li {
    list-style: none;
}