.main {
    display: flex;
    flex-direction: row;
}

.left_side {
    padding: 5rem;
}

.my_app_text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--dark);
    text-overflow: inherit;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.my_app_text>div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.languages_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1rem;
}

.right_side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
}

.profile_pic {
    position: absolute;
    right: 8rem;
    top: 10rem;
    width: 30rem;
    filter: drop-shadow(30px 10px 4px #0000003f);
}

.btn_contact_me {
    position: absolute;
    margin-top: 0rem;
    background-color: transparent;
    border-radius: 4rem;
    border-color: transparent;
    width: 140px;
    height: 63px;
    padding: 5px 13px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    z-index:100;
}

.contact_me {
    margin-top: 4rem;
    background-color: var(--trGrey);
    border-radius: 4rem;
    width: 110px;
    padding: 5px 13px;
    text-transform: uppercase;
    color: var(--light);
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 10px 10px 5px #1f1f1f2f;
}

.contact_me>span {
    z-index: 40;
    color: var(--dark);
}

.contact_me>p {
    margin-left: 7px;
}

.contact_me>div {
    position: absolute;
    background-color: var(--light);
    width: 5.5em;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 2;
}

@media screen and (max-width: 1350px) {

    .profile_pic {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .right_side {
        display: none;
    }

    .profile_pic {
        display: none;
    }

    .left_side {
        padding: 1.5rem;
    }

    .my_app_text {
        display: flex;
        flex-direction: column;
        text-overflow: inherit;
        font-size: 3.5rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    .stroke_text, .subtitle {
        font-size: 3rem;
    }

    .my_name {
        flex-direction: row;
    }

    .with_btn {
        display: flex;
        justify-content: center;
    }

    .btn_contact_me{
        margin-top: 3rem;
    }

    .contact_me {
        margin-top: 3rem;
    }
}